<mat-toolbar color="primary">
  <span>
    <a routerLink="/">Messages</a>
  </span>
  <span class="spacer"></span>
  <ul>
    <li *ngIf="authed">
      <a mat-button routerLink="auth/create" routerLinkActive="mat-accent">New post</a>
    </li>
    <li *ngIf="!authed">
      <a mat-button routerLink="auth/login" routerLinkActive="mat-accent">Log In</a>
    </li>
    <li *ngIf="!authed">
      <a mat-button routerLink="auth/signup" routerLinkActive="mat-accent">Sign Up</a>
    </li>
    <li *ngIf="authed">
      <button mat-button (click)="logout()">Log Out</button>
    </li>
  </ul>
</mat-toolbar>
