<form (submit)="onSubmit(postForm)" #postForm="ngForm">
  <mat-card>
    <mat-form-field>
      <input
        matInput
        type="text"
        name="title"
        ngModel
        minlength="3"
        placeholder="Post title"
        required
        #title="ngModel">
        <mat-error *ngIf="title.invalid">Please add a post title</mat-error>
    </mat-form-field>
    <mat-form-field>
      <textarea
        matInput
        rows="4"
        name="content"
        placeholder="Post content"
        ngModel
        required
        #content="ngModel"></textarea>
        <mat-error *ngIf="content.invalid">Please add a post content</mat-error>
    </mat-form-field>
    <button
      mat-raised-button
      color="primary"
      type="submit">Save post</button>
  </mat-card>
</form>
